{% extends 'layout.html' %}

{% block body %}
  <div id="indexContent">
      <ul>
        <p align="center"><img src="/static/gdis.jpg"></img></p>
        <pre class="vol"><p align="center">{{ vol }}</p></pre>
        <p align="center"><a href="{{ url_for('volup') }}"><button class="button3" style="height:30px;width:70px">U</button></a> <a href="{{ url_for('voldown') }}"><button class="button3" style="height:30px;width:70px">D</button></a></p>
        <p align="center"><a href="{{ url_for('streamer') }}"><button class="button" style="height:26px;width:70px">Network</button></a><a href="{{ url_for('coaxial1') }}"><button class="button" style="height:26px;width:70px">Coax 1</button></a><a href="{{ url_for('optical1') }}"><button class="button" style="height:26px;width:70px">Optical 1</button></a><a href="{{ url_for('optical2') }}"><button class="button" style="height:26px;width:70px">Optical 2</button></a></p> 
        <p align="center"><a href="{{ url_for('wifi') }}"><button class="button2" style="height:40px;width:70px">WiFi setup</button></a> <a href="{{ url_for('net') }}"><button class="button2" style="height:40px;width:70px">Network test</button></a> <a href="{{ url_for('s1') }}"><button class="button2" style="height:40px;width:70px">Sound check</button></a>
        <p align="center"><a href="{{ url_for('reboot') }}"><button class="button" style="height:40px;width:70px">Reboot</button></a>  <a href="{{ url_for('poweroff') }}"><button class="button" style="height:40px;width:70px">OFF</button></a></p>
      </ul>
    </form>
  </div>
{% endblock %}
